<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimentação de Estoque - Sistema Fasiclin Estoque</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>
<body>
    <div id="app-movimentacao">
        <h1>Movimentação de Estoque</h1>
        <!-- Conteúdo será manipulado via JavaScript -->
    </div>

    <script th:src="@{/assets/js/movimentacaoestoque.js}"></script>
</body>
</html>
